* {
    box-sizing: border-box;
    padding: 10;
    margin: 10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: darkkhaki;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: olivedrab;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color:goldenrod;
}

.nav a{
    position: relative;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    background-color: darkolivegreen;
    color: gold;
}

.header nav a:hover {
    background-color: #ddd;
    color: black;
  }

a {
    color: #ffffff;
    text-decoration: none;
}

.pics img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    }

.pics {
    display: block;
    max-height: 100%;
    max-width: 100%;
    border: 2px solid black;
    margin: 10px;
    box-shadow: 5px 5px grey
   }

#about {
    display: flex;
    width: 100%;
    overflow: hidden;
    white-space: wrap;
    flex-wrap: wrap;
    justify-content: center;
    
}

.blurb {
    font-size: large;
    padding: 10px;
    background-color:goldenrod;
    border: 2px solid black;
    box-shadow: 5px 5px grey;
}

aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

h2 {
    text-align: center;
}

aside section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    margin: 15px;
}

section {
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.websites {
    position: relative;
    border-radius: 25px;
    background-color: goldenrod;
}

.websites img {
    transition: transform .2s;
}

.websites img:hover {
    transform:scale(1.5);
}
#contact {
    display: flex;
    flex-direction: column;
    font-size: large;
}

.footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
